body
{
   font-family:Arial;
    font-size:16px;  
    
    
}

.footerText{
    font-weight:bold;
}
.homeicon{
    width:20px;
    height:20px;
}
.pstyle{
    text-align:left;
    margin-top:10px;
}
.pheading{
    font-size:18px;
    font-family:arial;
}
.txtspace{
     margin-top:-10px;
    text-align:left;
}  
.topmargin
{
 margin-top:13px;  
    
}
.textboxstyle{
    border:1px solid #007aff;
    height:30px;
    border-radius:4px;
}
.tblspace{
    width:100%;
    margin-top:-5px;
}    
.imgwidth{
    width:25%;
}

.career
{
  margin-left:15px  
    
}

.button1
{
  float:right;
  margin-top:-13%;
  margin-right:22%;  
}

.menu
{
   text-decoration:none;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
}

.km-content p{
margin-left: 0;
margin-right: 0;
}


.left
{
 margin-left:8px   
    
}